<h1> <%=current_user.email%>'s Reminder Page </h1>

<h2><%= @reminder.title %></h2>
<h2> What : <%=@reminder.content%></h2>
<h2> When: <%=@reminder.mystery%></h2>
<h2> Phonenumber : <%=@reminder.phone%> </h2>
<h2> Time: <%=@reminder.tim %> </h2>